<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Individual cryptos</title>
    <link rel="stylesheet" href="../../static/css/dynamic.css">
</head>
<body>
<h2 class="crypto_title">
        <img src="{{ crypto.image }}" alt="{{ crypto.symbol }}" width="40" height="40">&nbsp;{{ crypto.name }} {{ crypto.symbol }}
        </h2>
<img src="{{ chart_url }}" alt="Price Chart">

<div class="market-stats">
    <h1 class="market_Header">Market</h1>
    <div class="stats-container">
        <div class="stat">
            <h2>MARKET CAP</h2>
            <p>USD${{ crypto.market_cap }}</p>
        </div>
        <div class="stat">
            <h2>TOTAL VOLUME</h2>
            <p>USD${{ crypto.total_volume }}</p>
        </div>
        <div class="stat">
            <h2>CIRCULATING SUPPLY</h2>
            <p>{{ crypto.circulating_supply }}{{ crypto.symbol }}</p>
        </div>
        <div class="stat">
            <h2>TOTAL SUPPLY</h2>
            <p>{{ crypto.total_supply }}{{ crypto.symbol }}</p>
        </div>
        <div class="stat">
            <h2>ALL TIME HIGH</h2>
            <p>USD${{ crypto.ath_change_percentage }}</p>
        </div>
        <div class="stat">
            <h2>TYPICAL HOLD TIME</h2>
            <p>100 days</p>
        </div>
        <div class="stat">
            <h2>POPULARITY</h2>
            <p>#{{ crypto.market_cap_rank }}</p>
        </div>
        <div class="stat">
            <h2>ALL TIME HIGH (24H)</h2>
            <p>{{ crypto.price_change_24h }}%</p>
        </div>
        <div class="stat">
            <h2>PRICE CHANGE (24H)</h2>
            <p>{{ crypto.market_cap_change_percentage_24h }}%</p>
        </div>
        <div class="stat">
            <h2>PRICE CHANGE (ALL TIME)</h2>
            <p>{{ crypto.atl_change_percentage }}</p>
        </div>
        <div class="stat">
            <h2>ALL TIME HIGH DATE</h2>
            <p>{{ crypto.ath_date }}</p>
        </div>
    </div>
</div>
</body>
</html>